body {
	background-image: url(../images/bgBlue.jpg);
	background-color: #28688B;
}

.container {
	padding: 0 15px;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
	background: url(../images/panelVertical.png) 0 0 repeat-y,url(../images/panelVertical.png) right 0 repeat-y,url(../images/darkNoise.png) 0 0 repeat;
	background-color: #1F1F1F;
	color: #c7c7c7;
}

.header,.marketing,.footer {
	padding-left: 15px;
	padding-right: 15px;
}

.marketing p+h4 {
	margin-top: 28px;
}

.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	padding-bottom: 19px;
}

.header {
	padding: 11px 20px 10px;
	margin-bottom: 20px;
	background: url(../images/panelHorizontal.png) 0 bottom repeat-x;
}

.footer {
	font-size: 12px;
	padding: 28px 20px 15px;
	color: #777;
	background: url(../images/panelHorizontal.png) 0 top repeat-x;
	text-align: center;
}

.footer p {
	margin: 0;
}

@media(min-width:768px) {
	.container {
		max-width: 930px;
	}
}

.container-narrow>hr {
	margin: 30px 0;
}

.jumbotron {
	margin-left: 20px;
	margin-right: 20px;
	background-color: #000;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

.jumbotron h1 {
	color: #FFF;
}

.jumbotron .btn {
	font-size: 22px;
	padding: 10px 20px;
	margin: 10px 0;
}

.marketing {
	margin: 40px 0;
}

@media screen and (min-width:768px) {
	.marketing,.footer {
		padding-left: 0;
		padding-right: 0;
	}
}

.green {
	color: #5fbd2a;
}

.red {
	color: #bd2a2a;
}

.align-center {
	text-align: center;
}

.page-header {
	margin-left: 20px;
	margin-right: 20px;
	border-bottom: 1px dashed #505050;
}

.row {
	margin-left: 20px;
	margin-right: 20px;
}

.thumbnail {
	background-color: rgba(0,0,0,0.5);
	border: 1px solid #242424;
}

.thumbnail .caption {
	text-align: center;
	color: gray;
}

h1 {
	font-family: "Kavoon",Arial,sans-serif;
	font-size: 36px;
	color: #e6e6e6;
}

h3,h4 {
	color: #dd822d;
}

a,a:hover,a:focus {
	color: #6CF;
}

.nav>li>a {
	font-weight: bold;
}

.nav>li>a:hover,.nav>li>a:focus {
	background-color: rgba(255,255,255,0.05);
}

pre {
	color: #9caf73;
	background-color: #000;
	background-color: rgba(0,0,0,0.5);
	border: 1px solid #000;
	box-shadow: 0 1px 0 rgba(255,255,255,0.1);
}

.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th {
	border-top: 0;
	background-color: rgba(0,0,0,0.3);
}

.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td {
	background-color: rgba(0,0,0,0.2);
	border-top: 1px solid #202020;
}

.jumbotron .viewGithub {
	margin: 30px 0 0;
	padding-top: 20px;
	border-top: 1px dashed #202020;
}

@media(max-width:640px) {
	.jumbotron {
		padding: 20px;
	}
	.jumbotron .buttonOr {
		display: block;
	}
}

