/* ================================================

    CookieMaster - A Cookie Clicker plugin

    Version:      1.2.0
    Date:         23/12/2013
    GitHub:       https://github.com/greenc/CookieMaster
    Dependencies: Cookie Clicker, jQuery
    Author:       Chris Green
                  c.robert.green@gmail.com

    This code was written to be used, abused,
    extended and improved upon. Feel free to do
    with it as you please, with or without
    permission from, nor credit given to the
    original author (me).

================================================ */

/* Styles for the CM UI */
#CMSettingsPanel,
#CMStatsPanel {
	position: fixed;
	z-index: 1000001;
	bottom: 0;
	margin-bottom: -346px;
	right: 255px;
	width: 260px;
	height: 295px;
	background-color: rgba(0, 0, 0, 0.95);
	padding: 10px 20px 40px;
	color: #FFF;
	border: 1px solid #555;
	border-bottom: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#CMSettingsPanelHandle,
#CMStatsPanelHandle {
	position: absolute;
	top: -27px;
	right: -1px;
	height: 26px;
	width: 220px;
	background-color: rgba(0, 0, 0, 0.95);
	text-align: center;
	color: #B8B8B8;
	line-height: 26px;
	font-weight: normal;
	border: 1px solid #555;
	font-size: 16px;
	cursor: pointer;
	border-bottom: none;
	font-family: "Kavoon", Georgia, serif;
	box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.5);
}

#CMSettingsPanelHandle:hover {
	color: #FFF;
}

#CMSettingsList {
	margin-bottom: 10px;
}

#CMSettingsList .setting {
	border-bottom: 1px dashed #222;
	padding: 5px 0;
	line-height: 20px;
	color: #DDD;
}

#CMSettingsList label { display: block; }

#CMSettingsList input,
#CMSettingsList select {
	float: right;
	margin-left: 5px;
	background-color: #111;
	color: #FFF;
	border: 1px solid #444;
}

#CMSettingsSave,
#CMSettingsPause {
	cursor: pointer;
	border: 1px solid #6CA01E;
	background-color: #588811;
	color: #FFF;
	padding: 4px 5px;
	margin: 0 auto;
	border-radius: 2px;
	font-family: "Kavoon", Georgia, serif;
	font-size: 14px;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.2);
}

#CMSettingsPause {
	border: 1px solid #747474;
	background-color: #4D4D4D;
	margin-left: 10px;
}

#CMSettingsSave:hover {
	background-color: #6AA01A;
}

#CMSettingsPause:hover {
	background-color: #5A5A5A;
}

#CMTimerPanel {
	border-top: 1px solid #000;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 20;
	font-family: "Kavoon", Georgia, serif;
	font-size: 15px;
}

.cmTimerContainer {
	display: none;
	margin: 6px 10px;
}

.cmTimerLabel {
	float: left;
	width: 25%;
}

.cmTimer {
	float: left;
	width: 65%;
	height: 14px;
	background-color: #494949;
	position: relative;
}

.cmTimer span {
	display: block;
	position: absolute;
	height: 14px;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	right: 0;
}

.cmTimer div {
	height: 14px;
	background-color: #B3B3B3;
}
.cmTimer-goldenCookie .cmTimer div { background-color: #FF00FF;}
.cmTimer-reindeer .cmTimer div { background-color: #FF8500;}
.cmTimer-frenzy .cmTimer div { background-color: #D6D612;}
.cmTimer-clickFrenzy .cmTimer div { background-color: #288BBE;}
.cmTimer-elderFrenzy .cmTimer div { background-color: #1FC41F;}
.cmTimer-clot .cmTimer div { background-color: #E90000;}

.cmTimerCounter {
	float: left;
	width: 10%;
	color: #FFF;
	text-align: center;

}

#CMOverlay {
	position: fixed;
	z-index: 1000000;
	height: 100%;
	width: 100%;
	background: #FFF;
	pointer-events: none;
	display: none;
}

#CMGCOverlay {
	position: absolute;
	font-family: "Kavoon", Georgia, serif;
	font-size:32px;
	text-shadow: 0 0 6px rgba(0, 0, 0, 1);
	line-height: 96px;
	text-align: center;
	height: 96px;
	width: 96px;
	z-index: 10000000000;
	cursor: pointer;
}

#CMStatsPanel {
	right: 20px;
	z-index: 1000000;
	width: 495px;
	height: 505px;
	margin-bottom: -536px;
}

#CMStatsPanelTable {
	width: 100%;
}

#CMStatsPanelTable td,
#CMStatsPanelTable th {
	padding: 5px 0;
	border-bottom: 1px dashed #222;
	line-height: 20px;
	color: #DDD;
}

#CMStatsPanelTable .cmStatsHeader th {
	text-align: left;
	font-size: 24px;
	font-family: "Kavoon", Georgia, serif;
	line-height: 28px;
	vertical-align: top;
	padding: 20px 0 5px;
}

#CMStatsPanelTable .cmStatsHeaderFirst {
	padding: 5px 0 5px;
}

#CMStatsPanelTable button {
	background-color: #1B1B1B;
	border: none;
	color: #6CCF00;
	padding: 3px 10px;
	font-size: 12px;
	border: 1px solid #272727;
	border-radius: 2px;
	font-weight: bold;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.9);
	cursor: pointer;
	outline: none;
}

#CMStatsPanelTable button:hover {
	background-color: #252525;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.65);
}

#CMPopWrinklers { float: right; }

/*
NOT YET USED
.cmIcon {
	height: 38px;
	width: 38px;
	float: left;
	margin: 0 10px 5px 0;
}

.cmIconLucky { background-position: -484px -54px; }
.cmIconHC { background-position: -916px -343px; }
.cmIconWrinkler { background-position: -677px -244px; }
*/

#CMStatsPanelTable .cmStatsValue {
	text-align: right;
	color: #FFF;
	font-weight: bold;
}

#CMStatsPanelTable .cmHighlight {
	color: #6CCF00;
}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}
/* End CM UI styles */

/* Feature: cleanUI */
.cleanUI #topBar { display: none; }
.cleanUI #versionNumber {
	z-index: 20;
	bottom: auto;
	top: 0;
}

.cleanUI #game {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-touch-callout: none;
	-moz-touch-callout: none;
	-ms-touch-callout: none;
	-o-touch-callout: none;
	user-select: none;
	top: 0;
}

.cleanUI #cookies {
	background: rgba(0, 0, 0, 0.75);
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.cleanUI #tooltip {
	margin-top: 32px;
	pointer-events: none;
}
/* End Feature: cleanUI */

/* Feature: changeFont */
.serif .title,
.serif .section,
.serif #CMSettingsSave,
.serif #CMTimerPanel,
.serif #CMSettingsPanelHandle,
.serif #CMStatsPanelHandle,
.serif #CMStatsPanelTable .cmStatsHeader th {
	font-family: Georgia, Times, "Times New Roman", serif;
}

.sansserif .title,
.sansserif .section,
.sansserif #CMSettingsSave,
.sansserif #CMTimerPanel,
.sansserif #CMSettingsPanelHandle,
.sansserif #CMStatsPanelHandle,
.sansserif #CMStatsPanelTable .cmStatsHeader th {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* End Feature: Font */
