/* ================================================

    CookieMaster - A Cookie Clicker plugin

    Version:      1.5.3
    Date:         23/12/2013
    GitHub:       https://github.com/greenc/CookieMaster
    Dependencies: Cookie Clicker, jQuery
    Author:       Chris Green
                  c.robert.green@gmail.com

    This code was written to be used, abused,
    extended and improved upon. Feel free to do
    with it as you please, with or without
    permission from, nor credit given to the
    original author (me).

================================================ */

/* Styles for the CM UI */
#CMStatsPanel, #CMSettingsPanel {
	display: none;
	z-index: 1000000;
	position: absolute;
	left: 16px;
	right: 0px;
	top: 112px;
	padding: 20px;
	font-size: 13px;
}

#CMSettingsPanelButton,
#CMStatsPanelButton {
	width: 90px;
	padding: 4px 16px 4px 0;
	top: 0;
	right: -16px;
	font-size: 15px;
	line-height: 24px;
	color: #6CF;
}

#CMSettingsPanelButton:hover,
#CMStatsPanelButton:hover {
	right: -8px;
	box-shadow: 0px 0px 12px #88C1FF inset, 0px 0px 4px #000;

}

#CMStatsPanelButton { top: 32px; }

#logButton {
	width: 90px !important;
	padding: 4px 16px 4px 0;
	right: -16px;
	font-size: 15px;
	line-height: 24px;
}

#commentsText {
	padding: 0px 80px 0 64px;
}

#CMSettingsPanel h3,
#CMStatsPanel h3 {
	color: #6CF;
	font-size: 28px;
	margin: 0 0 20px;
}

.cmTitleSub {
	font-size: 14px;
	font-weight: bold;
	float: right;
	font-weight: normal;
}

#CMSettingsTable { border-top: 1px dashed #3A3A3A; }

#CMSettingsTable small {
	display: block;
	line-height: 14px;
	font-size: 11px;
	color: #666;
}

#CMSettingsTable .cmValue {
	vertical-align: middle;
	text-align: right;
}

.cmTable input,
.cmTable select {
	font-size: 14px;
	background-color: #111;
	color: #FFF;
	border: 1px solid #444;
	padding: 2px;
}

#CMSettingsSave,
#CMSettingsPause {
	cursor: pointer;
	border: 1px solid #6CA01E;
	background-color: #588811;
	color: #FFF;
	padding: 4px 5px;
	margin: 0 auto;
	border-radius: 2px;
	font-size: 14px;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.2);
	outline: none;
}

#CMSettingsPause {
	border: 1px solid #5A5A5A;
	background-color: #4D4D4D;
	margin-left: 10px;
}

#CMSettingsSave:hover {
	background-color: #6AA01A;
}

#CMSettingsPause:hover {
	background-color: #5A5A5A;
}

#CMTimerPanel {
	border-top: 1px solid #000;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 20;
	font-size: 15px;
}

.cmTimerContainer {
	display: none;
	margin: 6px 10px;
}

.cmTimerLabel {
	float: left;
	width: 25%;
}

.cmTimer {
	float: left;
	width: 65%;
	height: 14px;
	background-color: #494949;
	position: relative;
	border-radius: 3px;
}

.cmTimer span {
	display: block;
	position: absolute;
	height: 14px;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	right: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.cmTimer div {
	height: 14px;
	background-color: #B3B3B3;
	border-radius: 3px;
}
.cmTimer-goldenCookie .cmTimer div { background-color: #FF00FF;}
.cmTimer-reindeer .cmTimer div { background-color: #FF8500;}
.cmTimer-frenzy .cmTimer div { background-color: #D6D612;}
.cmTimer-clickFrenzy .cmTimer div { background-color: #288BBE;}
.cmTimer-elderFrenzy .cmTimer div { background-color: #1FC41F;}
.cmTimer-clot .cmTimer div { background-color: #E90000;}

.cmTimerCounter {
	float: left;
	width: 10%;
	color: #FFF;
	text-align: center;

}

#CMOverlay {
	position: fixed;
	z-index: 1000000;
	height: 100%;
	width: 100%;
	background: #FFF;
	pointer-events: none;
	display: none;
}

#CMGCOverlay {
	position: fixed;
	font-size:32px;
	text-shadow: 0 0 6px rgba(0, 0, 0, 1);
	line-height: 96px;
	text-align: center;
	height: 96px;
	width: 96px;
	z-index: 10000000001;
	cursor: pointer;
	border-radius: 96px;
}

.cmTable {
	width: 100%;
	margin: 0 0 20px;
}

.cmTable tr:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.03);
}

.cmTable td,
.cmTable th {
	padding: 5px 0;
	border-bottom: 1px dashed #3A3A3A;
	line-height: 18px;
	color: #DDD;
}

.cmTable .cmHeader th {
	text-align: left;
	font-size: 24px;
	line-height: 38px;
	vertical-align: top;
	padding: 0 0 5px;
}

.cmTable .cmFirst th {
	padding: 0 0 5px;
}

.cmTable .cmValue {
	width: 50%;
	color: #FFF;
	font-weight: bold;
}

.cmTable .cmHighlight {
	color: #6CCF00;
}

.cmTable input[type="range"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 65%;
	height: 8px;
	padding: 0;
	outline: none;
	border-radius: 6px;
}

.cmTable input::-webkit-slider-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 10px;
	height:25px;
	border-radius: 10px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(0.49, #dddddd), color-stop(0.51, #d1d1d1), color-stop(1, #a1a1a1) );
}

.cmTable .currentValue {
	margin-right: 10px;
}

#CMPopWrinklers {
	display: none;
	background-color: rgba(0, 0, 0, 0.75);
	border: none;
	color: #6CF;
	padding: 5px;
	font-size: 12px;
	line-height: 16px;
	border-radius: 2px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.9);
	cursor: pointer;
	outline: none;
	position: absolute;
	z-index: 21;
	bottom: -183px;
	left: -52px;
	white-space: nowrap;
}

#CMPopWrinklers:hover {
	background-color: #252525;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.65);
}

.cmIcon {
	height: 38px;
	width: 38px;
	float: left;
	margin: 0 15px 5px 0;
}

.cmIconLucky { background-position: -484px -54px; }
.cmIconHC { background-position: -916px -343px; }
.cmIconWrinkler { background-position: -677px -244px; }
.cmIconMisc { background-position: -6px -342px; }

.cmFont { font-family: "Kavoon", Georgia, serif; }

#game.onCMMenu #sectionMiddle {
	background: #000 url(http://orteil.dashnet.org/cookieclicker/img/darkNoise.png);
}

.cmPopupText {
	color: #6CF;
	background-color: rgba(0, 0, 0, 0.85);
	padding: 20px 25px;
	border-radius: 20px;
	display: inline-block;
}

#tooltip .cmTable {
	border-top: 1px dashed #313131;
	margin: 5px 0 5px;
}

#tooltip .cmTable td {
	padding: 3px 0;
}

.cm-tooltip__warnings div {
	padding: 5px;
	color: #FFF;
	margin-bottom: 5px;
	line-height: 20px;
}

.cm-tooltip__warnings div strong {
	font-weight: bold;
}

.cmTooltipWarningLucky {
	background-color: rgba(184, 0, 0, 0.3);
	border-left: 4px solid #B80000;
}
.cmTooltipWarningLuckyFrenzy {
	background-color: rgba(206, 108, 0, 0.3);
	border-left: 4px solid #CE6C00;
}

#CMEfficiencyTable {
	width: 300px;
	background-color: rgba(0, 0, 0, 0.75);
}

#CMEfficiencyTable th {
	text-align: center;
	border-bottom: 1px dashed #616161;
}

#CMEfficiencyTable td {
	vertical-align: top;
	border-bottom: 1px dashed #616161;;
}

#CMEfficiencyTable .cmValue {
	padding-right: 5px;
	width: 265px;
	font-weight: normal;
}

.cmSample {
	display: block;
	height: 18px;
	width: 18px;
	margin: 0 5px;

}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}
/* End CM UI styles */

/* External stuff */
.background-cyan { background: #2AFFFF !important; }
.text-cyan { color: #2AFFFF !important; }
.border-cyan { border-color: #2AFFFF !important;}

.background-blue { background: #4bb8f0 !important; }
.text-blue { color: #4bb8f0 !important; }
.border-blue { border-color: #4bb8f0 !important; }

.background-green { background: #6f6 !important; }
.text-green { color: #6f6 !important; }
.border-green { border-color: #6f6 !important; }

.background-orange { background: #ff7f00 !important; }
.text-orange { color: #ff7f00 !important; }
.border-orange { border-color: #ff7f00 !important; }

.background-purple { background: #FF2CFF !important; }
.text-purple { color: #FF2CFF !important; }
.border-purple { border-color: #FF2CFF !important; }

.background-red { background: #FF3232 !important; }
.text-red { color: #FF3232 !important; }
.border-red { border-color: #FF3232 !important; }

.background-yellow { background: #FFFF34 !important; }
.text-yellow, .cm-popup { color: #FFFF34 !important; }
.border-yellow { border-color: #FFFF34 !important; }

.background-greyTen { background: #1a1a1a !important; }
.text-greyTen { color: #1a1a1a !important; }
.border-greyTen { border-color: #1a1a1a !important; }

.background-greyLight { background: #b3b3b3 !important; }
.text-greyLight { color: #b3b3b3 !important; }
.border-greyLight { border-color: #b3b3b3 !important; }

.cmUpgrade {
	position: absolute;
	z-index: 21;
	top: 0;
	left: 0;
	height: 6px;
	width: 100%;
}
/* End External stuff */

/* Feature: cleanUI */
.cleanUI #topBar { display: none; }
.cleanUI #versionNumber {
	z-index: 20;
	bottom: auto;
	top: 0;
}

.cleanUI #game {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-touch-callout: none;
	-moz-touch-callout: none;
	-ms-touch-callout: none;
	-o-touch-callout: none;
	user-select: none;
	top: 0;
}

.cleanUI #cookies {
	background: rgba(0, 0, 0, 0.75);
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.cleanUI #tooltip {
	margin-top: 32px;
	pointer-events: none;
}
/* End Feature: cleanUI */

/* Feature: changeFont */
.serif .title,
.serif .section,
.serif .cmFont {
	font-family: Georgia, Times, "Times New Roman", serif;
}

.sansserif .title,
.sansserif .section,
.sansserif .cmFont {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* End Feature: Font */

/* Feature: timerBarPosition */
.cmTimerTop #CMTimerPanel {
	bottom: auto;
	top: 0;
}
/* End Feature: timerBarBottom */

/* Feature: increaseClickArea */
.cmLargeClickArea #CMGCOverlay {
	height: 192px;
	width: 192px;
	border-radius: 192px;
	margin-left: -48px;
	margin-top: -48px;
	line-height: 192px;
}
/* End Feature: increaseClickArea */

/* Feature: highVisibilityCookie */
.cmHighVisCookie #goldenCookie {
	border: 10px solid #FFF;
	border-radius: 96px;
	box-shadow: 0 0 0 10px #000, 0 0 0 20px #FFF;
}

.cmHighVisCookie #CMGCOverlay {
	padding: 10px;
}
/* End Feature: highVisibilityCookie */